* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #4a7c2c;
  padding: 30px 40px;
  align-items: center;
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.footer-section-logo img {
  width: 180px;
}
.footer-section-logo p {
  max-width: 320px;
  text-align: center;
}

.footer-section ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.footer-section li {
  list-style: none;
  margin: 5px 0;
}

.footer-section a {
  text-decoration: none;
  color: black;
}

.footer-section-redes img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.footer-section-map iframe {
  max-width: 100%;
}

.footer-section-redes a:hover img {
  transform: scale(1.2);
}

@media (max-width: 576px) {
  .footer-col {
    width: 100%;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .footer-col {
    width: 50%;
  }
}

@media (min-width: 993px) {
  .footer-col {
    width: 33.33%;
  }
}

/* Si o si al final */
.footer-section-redes ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
